.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 403px;
  padding: 0 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }
  .card__image {
    margin: 15px auto 27px;
    padding: 12px 0;
    border: 3px solid transparent;
    border-radius: 5px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .card__image:hover {
      border: 3px solid #f3f3f3;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .card__photo {
    width: 160px;
    height: 134px; }
  .card__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .card__code {
    margin-top: 5px;
    margin-bottom: 15px; }
  .card__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .card__stars div {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background-image: url("/images/star.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .card__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__count-review {
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .card__count-review:hover {
      color: #00acdc;
      cursor: pointer; }
  .card__price {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .card__price p:nth-child(1) {
    margin-top: 25px; }
  .card__price p:nth-child(2) {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px; }
  .card__button {
    display: block;
    text-align: center;
    width: 170px;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #00acdc;
    border: 1px solid #00acdc;
    -webkit-transition: background-color 0.3s, color 0.3s ease-in-out;
    transition: background-color 0.3s, color 0.3s ease-in-out; }
    .card__button:hover {
      border-radius: 5px;
      background-color: #fff;
      cursor: pointer; }
    .card__button:hover > a {
      color: #00acdc; }
  .card__link {
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }

.main .card:nth-child(4n+4) {
  margin-right: 0; }

.stars--4 div:nth-child(-n+4) {
  background-image: url("/images/star-active.svg"); }

/*# sourceMappingURL=card.css.map */
