.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px;
  height: 60px;
  font-size: 12px;
  margin-bottom: 50px; }
  .header__logo {
    padding: 10px 50px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav__item {
    display: inline-block; }
  .nav__link {
    display: inline-block;
    margin-left: 17px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 60px;
    font-size: 12px;
    color: black; }
    .nav__link:hover {
      color: #00acdc; }

.is-active {
  color: #00acdc;
  position: relative;
  margin-right: 0; }
  .is-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: #00acdc; }

.is-active:first-child {
  margin: 0; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 403px;
  padding: 30px 14px 0;
  margin-bottom: 50px;
  margin-right: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }
  .card__photo {
    width: 160px;
    height: 134px;
    margin: 0 auto;
    margin-bottom: 45px; }
  .card__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px; }
  .card__code {
    margin-top: 5px;
    margin-bottom: 15px; }
  .card__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .card__stars div {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background-image: url("/images/star.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .card__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__price {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .card__price p:nth-child(1) {
    margin-top: 25px; }
  .card__price p:nth-child(2) {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px; }
  .card__button {
    display: block;
    text-align: center;
    width: 170px;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #00acdc;
    border: 1px solid #00acdc; }
  .card__link {
    text-decoration: none;
    color: #fff; }

.card__button:hover {
  border-radius: 5px;
  background-color: #fff; }

.card__button:hover > a {
  color: #00acdc; }

.main .card:nth-child(4n+4) {
  margin-right: 0; }

.stars--4 div:nth-child(-n+4) {
  background-image: url("/images/star-active.svg"); }

html,
body,
.nav_list,
p,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc((200px * 4) + (48px * 3));
  margin: 0 auto;
  padding: 0 40px;
  font-size: 11px;
  line-height: 13px; }

/*# sourceMappingURL=main.css.map */
